alabaster==1.0.0
asgiref==3.9.1
authorizenet==1.1.6
autoclasstoc==1.7.0
babel==2.17.0
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
django==5.2.6
django-stubs==5.2.2
django-stubs-ext==5.2.2
docutils==0.21.2
future==1.0.0
idna==3.10
imagesize==1.4.1
jinja2==3.1.6
lxml==4.9.4
markupsafe==3.0.2
more-itertools==10.8.0
packaging==25.0
pygments==2.19.2
-e file:///home/blake/Projects/python-terminusgps
python-wialon==1.2.4
pyxb-x==1.2.6.3
requests==2.32.5
roman-numerals-py==3.1.0
simplejson==3.20.1
snowballstemmer==3.0.1
soupsieve==2.8
sphinx==8.2.3
sphinxawesome-theme==5.3.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
types-pyyaml==6.0.12.20250822
typing-extensions==4.15.0
urllib3==2.5.0
