name: "Sphinx: Render docs"
on: push

jobs:
  builds:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.17"

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"

      - name: Install project
        run: uv sync --locked --all-extras --dev

      - name: Build docs
        run: |
          cd docs
          make html

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Documentation
          path: docs/build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html

